In [1]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv("train.csv")
test = pd.read_csv('test_share (1).csv')
geo = pd.read_csv('Geo_scores (1).csv')#regarding location 
lambda_wts = pd.read_csv('Lambda_wts (1).csv')#proprietary index 
instances = pd.read_csv('instance_scores (1).csv')
qsets = pd.read_csv('Qset_tats (1).csv')#vulnerability qualification score

In [3]:
train.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem8,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.680000,0.726667,0.606667,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.716667,0.743333,0.680000,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.690000,0.820000,0.600000,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.720000,0.900000,0.680000,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.603333,0.486667,0.693333,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0

In [4]:
geo['id'].value_counts().head()

id
26674     5
149679    5
114110    5
24969     5
262179    5
Name: count, dtype: int64

In [5]:
instances['id'].value_counts().head()

id
173444    5
240342    5
147158    5
83677     5
127535    5
Name: count, dtype: int64

In [6]:
qsets['id'].value_counts().head()

id
9983      5
146106    5
133237    5
262326    5
79108     5
Name: count, dtype: int64

In [7]:
lambda_wts['Group'].value_counts().head()

Group
Grp936     1
Grp1128    1
Grp341     1
Grp63      1
Grp173     1
Name: count, dtype: int64

In [8]:
geo['geo_score'].isnull().sum()

71543

In [9]:
instances['instance_scores'].isnull().sum()

0

In [10]:
lambda_wts['lambda_wt'].isnull().sum()

0

In [11]:
qsets['qsets_normalized_tat'].isnull().sum()

103201

In [12]:
geo.head()

       id  geo_score
0   26674       4.48
1  204314       4.48
2  176521       5.17
3   48812      -2.41
4  126870       6.55

In [13]:
geo_mean = geo['geo_score'].mean()
geo_mean

-9.279167640176816e-06

In [14]:
geo.fillna(value = geo_mean, inplace = True)

In [15]:
geo['geo_score'].isnull().sum()

0

In [16]:
qsets.head()

       id  qsets_normalized_tat
0    9983                  2.41
1  266000                  3.10
2   77525                  1.03
3  160765                -11.63
4  138220                 -4.48

In [17]:
qsets_mean = qsets['qsets_normalized_tat'].mean()
qsets_mean

1.094005756968642e-05

In [18]:
qsets.fillna(value = qsets_mean, inplace = True)

In [19]:
qsets['qsets_normalized_tat'].isnull().sum()

0

In [20]:
geo = geo.groupby('id').mean()
geo.head()

    geo_score
id
0   -0.620000
1    1.069998
2    0.070000
3    0.180000
4    0.540000

In [21]:
qsets = qsets.groupby('id').mean()
qsets.head()

    qsets_normalized_tat
id
0               0.210002
1              -0.110000
2               1.110000
3              -0.679998
4              -0.240000

In [22]:
instances = instances.groupby('id').mean()
instances.head()

    instance_scores
id
0              0.09
1             -0.17
2              0.21
3             -0.05
4              0.75

In [23]:
# Adding Data column in train dataset with records as 'train'
train['data'] = 'train'
# Adding Data column in test dataset with records as 'test'
test['data'] = 'test'

In [24]:
all_data = pd.concat([train, test], axis=0)

In [25]:
all_data.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.726667,0.606667,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0.0,train
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.743333,0.680000,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0.0,train
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.820000,0.600000,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0.0,train
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.900000,0.680000,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0.0,train
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.486667,0.693333,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0.0,train

In [26]:
all_data.tail()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Dem9,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data
56957,18333,Grp102,0.553333,1.043333,1.096667,0.686667,0.673333,0.340000,0.900000,0.643333,...,0.433333,0.660000,0.776667,0.610000,0.690000,0.750000,0.700000,-249.5050,NaN,test
56958,244207,Grp504,1.353333,0.616667,0.276667,0.783333,0.690000,0.650000,0.473333,0.670000,...,0.870000,0.683333,0.690000,0.640000,0.883333,0.663333,0.660000,-248.7525,NaN,test
56959,103277,Grp78,1.083333,0.433333,0.806667,0.490000,0.243333,0.316667,0.533333,0.606667,...,0.063333,0.753333,0.780000,0.603333,0.880000,0.643333,0.676667,-231.0500,NaN,test
56960,273294,Grp134,0.566667,1.153333,0.370000,0.616667,0.793333,0.226667,0.910000,0.696667,...,1.026667,0.626667,0.646667,0.566667,0.616667,0.713333,0.706667,-246.3150,NaN,test
56961,223337,Grp18,1.426667,0.110000,-0.006667,-0.200000,0.983333,1.870000,0.033333,0.963333,...,0.670000,0.770000,0.893333,0.586667,0.616667,0.683333,0.650000,-248.4500,NaN,test

In [27]:
all_data.shape

(284807, 29)

In [28]:
train.isnull().sum()

id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
Target            0
data              0
dtype: int64

In [29]:
test.isnull().sum()

id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
data              0
dtype: int64

In [30]:
all_data = pd.merge(all_data, geo, on = 'id', how = 'left')

In [31]:
all_data.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred1,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.606667,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0.0,train,0.219998
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.680000,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0.0,train,-0.250000
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.600000,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0.0,train,-0.950000
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.680000,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0.0,train,0.490000
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.693333,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0.0,train,0.850000

In [32]:
all_data = pd.merge(all_data, qsets, on = 'id', how = 'left')

In [33]:
all_data.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score,qsets_normalized_tat
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0.0,train,0.219998,-0.700000
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,0.0,train,-0.250000,0.140000
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,0.0,train,-0.950000,-0.430000
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0.0,train,0.490000,-0.309996
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0.0,train,0.850000,-0.630000

In [34]:
all_data = pd.merge(all_data, instances, on = 'id', how = 'left')

In [35]:
all_data = pd.merge(all_data, lambda_wts, on = 'Group', how = 'left')

In [36]:
all_data.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score,qsets_normalized_tat,instance_scores,lambda_wt
0,112751,Grp169,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,...,0.603333,0.686667,0.673333,-245.7500,0.0,train,0.219998,-0.700000,-0.06,-0.13
1,18495,Grp161,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,...,0.670000,0.553333,0.653333,-248.0000,0.0,train,-0.250000,0.140000,0.52,0.66
2,23915,Grp261,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,...,0.670000,0.686667,0.673333,-233.1250,0.0,train,-0.950000,-0.430000,1.56,-0.51
3,50806,Grp198,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,...,0.520000,0.846667,0.760000,-249.7775,0.0,train,0.490000,-0.309996,0.70,0.72
4,184244,Grp228,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,...,0.716667,0.706667,0.673333,-247.5775,0.0,train,0.850000,-0.630000,-0.47,0.60

In [37]:
all_data.isnull().sum()

id                          0
Group                       0
Per1                        0
Per2                        0
Per3                        0
Per4                        0
Per5                        0
Per6                        0
Per7                        0
Per8                        0
Per9                        0
Dem1                        0
Dem2                        0
Dem3                        0
Dem4                        0
Dem5                        0
Dem6                        0
Dem7                        0
Dem8                        0
Dem9                        0
Cred1                       0
Cred2                       0
Cred3                       0
Cred4                       0
Cred5                       0
Cred6                       0
Normalised_FNT              0
Target                  56962
data                        0
geo_score                   0
qsets_normalized_tat        0
instance_scores             0
lambda_wt                   0
dtype: int64

In [38]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 33 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    284807 non-null  int64
 1   Group                 284807 non-null  object
 2   Per1                  284807 non-null  float64
 3   Per2                  284807 non-null  float64
 4   Per3                  284807 non-null  float64
 5   Per4                  284807 non-null  float64
 6   Per5                  284807 non-null  float64
 7   Per6                  284807 non-null  float64
 8   Per7                  284807 non-null  float64
 9   Per8                  284807 non-null  float64
 10  Per9                  284807 non-null  float64
 11  Dem1                  284807 non-null  float64
 12  Dem2                  284807 non-null  float64
 13  Dem3                  284807 non-null  float64
 14  Dem4                  284807 non-null  float64
 15  Dem5                  284807 non-null  float64
 16  Dem6                  284807 non-null  float64
 17  Dem7                  284807 non-null  float64
 18  Dem8                  284807 non-null  float64
 19  Dem9                  284807 non-null  float64
 20  Cred1                 284807 non-null  float64
 21  Cred2                 284807 non-null  float64
 22  Cred3                 284807 non-null  float64
 23  Cred4                 284807 non-null  float64
 24  Cred5                 284807 non-null  float64
 25  Cred6                 284807 non-null  float64
 26  Normalised_FNT        284807 non-null  float64
 27  Target                227845 non-null  float64
 28  data                  284807 non-null  object
 29  geo_score             284807 non-null  float64
 30  qsets_normalized_tat  284807 non-null  float64
 31  instance_scores       284807 non-null  float64
 32  lambda_wt             284807 non-null  float64
dtypes: float64(30), int64(1), object(2)
memory usage: 71.7+ MB

In [39]:
train = all_data[all_data['data'] == 'train']
test = all_data[all_data['data'] == 'test']

In [40]:
test.head()

,id,Group,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,...,Cred4,Cred5,Cred6,Normalised_FNT,Target,data,geo_score,qsets_normalized_tat,instance_scores,lambda_wt
227845,146574,Grp229,-0.300000,1.540000,0.220000,-0.280000,0.570000,0.260000,0.700000,1.076667,...,0.796667,0.823333,0.783333,-249.7500,NaN,test,0.25,-0.429998,-0.04,0.76
227846,268759,Grp141,0.633333,0.953333,0.810000,0.466667,0.910000,0.253333,1.040000,0.550000,...,0.630000,0.673333,0.673333,-249.8125,NaN,test,0.43,-0.620000,-0.77,0.18
227847,59727,Grp188,1.043333,0.740000,0.860000,1.006667,0.583333,0.616667,0.630000,0.686667,...,0.596667,0.680000,0.670000,-248.1200,NaN,test,1.32,-0.409998,0.11,0.39
227848,151544,Grp426,1.283333,0.300000,0.576667,0.636667,0.256667,0.543333,0.356667,0.663333,...,0.320000,0.676667,0.660000,-222.9875,NaN,test,-2.11,0.370002,0.33,1.80
227849,155008,Grp443,1.186667,0.326667,0.476667,0.866667,0.436667,0.680000,0.476667,0.686667,...,0.546667,0.650000,0.663333,-196.2200,NaN,test,-2.11,-0.130000,-0.37,1.89

In [41]:
x_train = train.drop(['id','Group','Target','data'], axis=1)
y_train = train['Target']

In [42]:
x_test = test.drop(['id','Group','Target','data'], axis=1)
y_test = test['Target']

In [43]:
x_train.head()

,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Dem1,...,Cred2,Cred3,Cred4,Cred5,Cred6,Normalised_FNT,geo_score,qsets_normalized_tat,instance_scores,lambda_wt
0,1.070000,0.580000,0.480000,0.766667,1.233333,1.993333,0.340000,1.010000,0.863333,0.460000,...,1.010000,0.933333,0.603333,0.686667,0.673333,-245.7500,0.219998,-0.700000,-0.06,-0.13
1,0.473333,1.206667,0.883333,1.430000,0.726667,0.626667,0.810000,0.783333,0.190000,0.470000,...,0.690000,0.560000,0.670000,0.553333,0.653333,-248.0000,-0.250000,0.140000,0.52,0.66
2,1.130000,0.143333,0.946667,0.123333,0.080000,0.836667,0.056667,0.756667,0.226667,0.660000,...,0.383333,0.763333,0.670000,0.686667,0.673333,-233.1250,-0.950000,-0.430000,1.56,-0.51
3,0.636667,1.090000,0.750000,0.940000,0.743333,0.346667,0.956667,0.633333,0.486667,1.096667,...,0.846667,0.423333,0.520000,0.846667,0.760000,-249.7775,0.490000,-0.309996,0.70,0.72
4,0.560000,1.013333,0.593333,0.416667,0.773333,0.460000,0.853333,0.796667,0.516667,0.756667,...,0.526667,0.520000,0.716667,0.706667,0.673333,-247.5775,0.850000,-0.630000,-0.47,0.60

In [44]:
from imblearn.over_sampling import SMOTE, RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

In [45]:
#RandomUnderSampler
rus = RandomUnderSampler(random_state = 42)
X_balance_rus, y_balance_rus = rus.fit_resample(x_train, y_train)

print('Shape of X before Balancing: {}'.format(x_train.shape))
print('Shape of X after Balancing: {}'.format(X_balance_rus.shape))

print('Balance of positive and negative classes (%):')
y_balance_rus.value_counts(normalize=True) * 100

Shape of X before Balancing: (227845, 29)
Shape of X after Balancing: (788, 29)
Balance of positive and negative classes (%):

Target
0.0    50.0
1.0    50.0
Name: proportion, dtype: float64

In [46]:
y_balance_rus.value_counts()

Target
0.0    394
1.0    394
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScalerhan
sc = StandardScaler()

X_balance_rus = sc.fit_transform(X_balance_rus)
x_test_sc = sc.transform(x_test)

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_balance_rus, y_balance_rus, test_size=0.20, random_state = 101)

In [49]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(630, 29)
(158, 29)
(630,)
(158,)

In [50]:
y_train.value_counts()

Target
1.0    319
0.0    311
Name: count, dtype: int64

In [51]:
from sklearn.metrics import accuracy_score, recall_score, precision_score , confusion_matrix, f1_score, roc_auc_score
from sklearn.metrics import classification_report

In [55]:
# Import ML Libraries
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
#Hyperparameter tuning using Gridsearchcv
from sklearn.ensemble import RandomForestClassifier



# After (recommended)
clf = RandomForestClassifier(max_features='sqrt')  # 
clf = RandomForestClassifier()  # default value is 'sqrt'

In [77]:
CV_rf.best_params_

{'criterion': 'gini',
 'max_depth': 3,
 'max_features': 'auto',
 'n_estimators': 50}

In [ ]:
rf1 = RandomForestClassifier(criterion= 'gini',
 max_depth=3,
 max_features='auto',
 n_estimators=50)
rf1.fit(X_train, y_train)

In [79]:
pred = rf1.predict(X_test)

In [80]:
print('Confusion_matrix : \n', confusion_matrix(y_test, pred))
print('Accuracy : ', accuracy_score(y_test, pred)*100)
print('Recall : ', recall_score(y_test, pred)*100)
print('Precision : ', precision_score(y_test, pred)*100)
print('F1: ', f1_score(y_test, pred)*100)
print('ROC AUC: ', roc_auc_score(y_test, pred)*100)
print('Classification Report: \n', classification_report(y_test, pred))

Confusion_matrix :
 [[82  1]
 [ 9 66]]
Accuracy :  93.67088607594937
Recall :  88.0
Precision :  98.50746268656717
F1:  92.95774647887323
ROC AUC:  93.39759036144576
Classification Report:
               precision    recall  f1-score   support

         0.0       0.90      0.99      0.94        83
         1.0       0.99      0.88      0.93        75

    accuracy                           0.94       158
   macro avg       0.94      0.93      0.94       158
weighted avg       0.94      0.94      0.94       158

In [81]:
classifiers = [[RandomForestClassifier(),'Random Forest'],
               [KNeighborsClassifier(), 'K-Nearest Neighbours'],
               [SVC(),'SVC'],
               [DecisionTreeClassifier(),'Decision Tree Classifier'],
               [LogisticRegression(),'Logistic Regression']]

In [82]:
for cls in classifiers:
  model = cls[0]
  model.fit(X_train, y_train)

  y_pred = model.predict(X_test)
  print(cls[1])
  print('Confusion Matrix: ')
  print(confusion_matrix(y_test, y_pred))
  print('Accuracy : ', accuracy_score(y_test, y_pred)*100)
  print('Recall : ', recall_score(y_test, y_pred)*100)
  print('Precision : ', precision_score(y_test, y_pred)*100)
  print('F1: ', f1_score(y_test, y_pred)*100)
  print('ROC AUC: ', roc_auc_score(y_test, y_pred)*100)
  print('Classification Report: \n', classification_report(y_test, y_pred))
  print('\n')

Random Forest
Confusion Matrix:
[[81  2]
 [ 4 71]]
Accuracy :  96.20253164556962
Recall :  94.66666666666667
Precision :  97.26027397260275
F1:  95.94594594594594
ROC AUC:  96.1285140562249
Classification Report:
               precision    recall  f1-score   support

         0.0       0.95      0.98      0.96        83
         1.0       0.97      0.95      0.96        75

    accuracy                           0.96       158
   macro avg       0.96      0.96      0.96       158
weighted avg       0.96      0.96      0.96       158



K-Nearest Neighbours
Confusion Matrix:
[[79  4]
 [ 9 66]]
Accuracy :  91.77215189873418
Recall :  88.0
Precision :  94.28571428571428
F1:  91.03448275862068
ROC AUC:  91.59036144578313
Classification Report:
               precision    recall  f1-score   support

         0.0       0.90      0.95      0.92        83
         1.0       0.94      0.88      0.91        75

    accuracy                           0.92       158
   macro avg       0.92      0.92      0.92       158
weighted avg       0.92      0.92      0.92       158



SVC
Confusion Matrix:
[[79  4]
 [ 6 69]]
Accuracy :  93.67088607594937
Recall :  92.0
Precision :  94.52054794520548
F1:  93.24324324324323
ROC AUC:  93.59036144578312
Classification Report:
               precision    recall  f1-score   support

         0.0       0.93      0.95      0.94        83
         1.0       0.95      0.92      0.93        75

    accuracy                           0.94       158
   macro avg       0.94      0.94      0.94       158
weighted avg       0.94      0.94      0.94       158



Decision Tree Classifier
Confusion Matrix:
[[69 14]
 [ 5 70]]
Accuracy :  87.9746835443038
Recall :  93.33333333333333
Precision :  83.33333333333334
F1:  88.0503144654088
ROC AUC:  88.23293172690764
Classification Report:
               precision    recall  f1-score   support

         0.0       0.93      0.83      0.88        83
         1.0       0.83      0.93      0.88        75

    accuracy                           0.88       158
   macro avg       0.88      0.88      0.88       158
weighted avg       0.89      0.88      0.88       158



Logistic Regression
Confusion Matrix:
[[80  3]
 [ 7 68]]
Accuracy :  93.67088607594937
Recall :  90.66666666666666
Precision :  95.77464788732394
F1:  93.15068493150686
ROC AUC:  93.52610441767068
Classification Report:
               precision    recall  f1-score   support

         0.0       0.92      0.96      0.94        83
         1.0       0.96      0.91      0.93        75

    accuracy                           0.94       158
   macro avg       0.94      0.94      0.94       158
weighted avg       0.94      0.94      0.94       158